<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <transmission name="kinect_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="camera_rgb_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="kinect_actuator">
        <mechanicalReduction>1</mechanicalReduction>
  <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>


</robot>